<div class="container-fluid page cuerpo">
  <div class="d-flex page__box p-3 mt-2">Usuario</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">
      <div class="container">
        <table width="100%" #miTabla datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
          class="table row-border hover fade success" (window:resize)="onResize()" [class.show]="showTable==true">
          <thead>
            <tr>
              <th>Usuario</th>
              <th>Contraseña</th>
              <th>Activo</th>              
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usuario of ListUsuario; index as i" [usuarioDelista]="usuario" [indice]="i">
              <td>{{usuario.correo}}</td>
              <td>{{usuario.clave}}</td>

              <td>
                <div class="container">
                  <label class="switch">
                    <input type="checkbox" class="input checkbox-column" [(ngModel)]="usuario.activo" name="chkActivo">
                    <div class="rail">
                      <span class="circle"></span>
                    </div>
                  </label>
                </div>
              </td>              
              <td>
                <div class="dropdown" (click)="toggleDropdown($event, i)" (mouseleave)="hideDropdown(i)">
                  <div class="card-button" [class.dropped]="closedStatus[i]==false">
                    <mat-icon>settings</mat-icon> </div>
                  <div class="drop-content square-top shrink" [class.show]="closedStatus[i]==false">
                    <div class="drop-content-section actions">
                      <ul class="action-list">
                        <li  [routerLink]="['../../principal/userEdit',i]"><mat-icon>manage_accounts</mat-icon>&nbsp;Modificar</li>
                        <li><mat-icon>toggle_on</mat-icon>&nbsp;Desactivar</li> 
                      </ul>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>        
      </div>
    </div>
  </div>
</div>