<!--<div>
    <br>
    <form class="form-group row" #miFormulario="ngForm" (ngSubmit)="obtenerToken(miFormulario)">
        <div class="form-group col-md-3">
            <input type="email" name="txtemail" placeholder="Email" class="form-control" ngModel>
        </div>
        <div class="form-group col-md-3">
            <input type="password" name="txtpassword" placeholder="Password" class="form-control" ngModel>
        </div>
        <div >
            <button type="submit" class="btn btn-primary">Ingresar</button>
        </div>
    </form>
    <br>
    <form class="form-group row" #miFormulario2="ngForm" (ngSubmit)="listar()">
        <div >
            <button type="submit" class="btn btn-primary">listar</button>
        </div>
    </form>
    <form class="form-group row" (ngSubmit)="borrarToken()">
        <div >
            <button type="submit" class="btn btn-primary">borrar token</button>
        </div>
    </form>
</div>-->

<div class="container">
    <div class="image-container">
        <img src="assets/img/fondo-inicio-sesion.jpg" alt="Fondo de inicio de sesión">
    </div>

    <div class="login-container">
        <div class="logo-container">
            <img src="assets/img/logo.png" alt="Logo de mi sitio web">
        </div>
        <form #miFormulario="ngForm" (ngSubmit)="validarUsuario(miFormulario)">
            <label for="txtUsuario">Usuario:</label>
            <input type="text" id="txtUsuario" name="txtUsuario" placeholder="Usuario" ngModel>

            <label for="txtpassword">Contraseña:</label>
            <input type="password" id="txtpassword" name="txtpassword" placeholder="Contraseña" ngModel>

            <input type="submit" value="Iniciar sesión">
        </form>
    </div>
</div>