<mat-nav-list>
  <div class="logo py-4">
    <!--<img src="./assets/logo.svg" alt="Company Logo" />-->
   <img width="200" height="81" src="./assets/img/logo2.png" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">Opciones</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="home">
    <mat-icon>home</mat-icon> Inicio
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="dashboard">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="user"> 
    <mat-icon>person</mat-icon> Usuario 
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="user/userEdit"> 
    <mat-icon>edit</mat-icon> Link 4 
  </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Link 5 </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Link 6 </a>
</mat-nav-list>
